{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" class="container w-50 float-md-left">
    {{ form.hidden_tag() }}
    <p>
        {{ form.surname.label }}
        {{ form.surname(class="form-control", type="surname") }}
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}
        {{ form.name(class="form-control", type="name") }}
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.age.label }}
        {{ form.age(class="form-control", type="age") }}
        {% for error in form.age.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.nick.label }}
        {{ form.nick(class="form-control", type="nick") }}
        {% for error in form.nick.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}
        {{ form.email(class="form-control", type="email") }}
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password") }}
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}
        {{ form.password_again(class="form-control", type="password") }}
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary w-100") }}</p>
    {{message}}
</form>
{% endblock %}